@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
    background-image: url(background.jpg);
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.panes {
    display: flex;
    flex-direction: row;
}
.header {
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    display: block;
    margin: 0px;
    font-size: 70px;
    font-family: 'Inter', sans-serif;

}
.subheading {
    font-family: 'Inter', sans-serif;

}

.question {
    width: 400px;
    height: 400px;
    margin-right: 10px;
    background-color: rgb(185, 144, 104);
}

.q-text {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    margin: 10px;
}

.answers {
    width: 400px;
    height: 400px;
    margin-left: 10px;
    background-color: rgba(240, 240, 240, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.starter-text {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    margin: 40px 20px 20px 10px;
    text-align: center;
}

p {
    font-family: 'Inter', sans-serif;
}


fieldset {
    outline: none;
    border: none;
}

.labels {
    font-size: 25px;
    font-family: 'Inter', sans-serif;
}

#submit-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}